
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.main-container{
	/*background-image: url("https://i.pinimg.com/originals/0d/14/7c/0d147c411a8ce284e733b4db4294712a.jpg");*/
}

 tr{
      transition-duration: 1s;
    }
   tr:hover{
      background-color: lightgrey;
      font-weight: bolder;

    }
    table{
      background-image:url("https://i.pinimg.com/originals/0d/14/7c/0d147c411a8ce284e733b4db4294712a.jpg");
      /*background-repeat: no-repeat;
      background-position: center;
      background-size: contain;*/
      /*background-color: lightyellow;*/

    }

  .heading{
	color: orange;
	margin-top: 40px;
	font-family: Arial black;
	font-size: 40px;
    }